.page-footer {
  background-color: #1e1e1e;
  border-top: 2px solid #333;
  padding-top: 20px;
  margin-top: 20px;
  width: 100%;
}
.footer-text-link,
.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-text-link:hover,
.footer-link:hover {
  color: #f97316;
}
