/* Basic Styles */
* {
    box-sizing: border-box;
}

.wrapper {
    width: 400px;
    max-width: 100%;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.search-bar {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 50px;
    padding: 1rem 2rem;
    width: 100%;
    flex: 1;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.search-button {
    border-radius: 50px;
    aspect-ratio: 1;
    height: 80%;
    
    position: absolute;
    top: 10%;
    right: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.search-button:hover {
background-color: #f97316;
    border-color: #f97316;
  box-shadow: 0 0 8px rgba(250, 45, 45, 0.5);

  animation: shake 0.3s;
  animation-iteration-count: initial;
  animation-timing-function: ease-in-out;
}
.search-bar:focus {
    border-color: #f97316;
  box-shadow: 0 0 8px rgba(250, 45, 45, 0.5);
  }

/*malý naklonění lupy při hoveru*/
@keyframes shake {
    0% { transform: rotate(0deg);  transform: translate(0px, 0px)}
    50% { transform: rotate(-20deg); transform: translate(-2px, -2px);}
    100% { transform: rotate(0deg); transform: translate(0px, 0px)}
  }