:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-body-bg: #1e1e1e;
  --bs-body-color: #ffffff;
  --bs-primary: #f97316;
  --bs-secondary: #cccccc;
}
html {
  --bs-body-bg: #212121 !important;
  --bs-heading-color: #f97316 !important;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f97316;
}